<!DOCTYPE html>
<html>
<head>
    <title>Video Display</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            setInterval(function() {
                $('#video-frame').attr('src', '/stream?' + new Date().getTime());
            }, 6000); // Refresh every 1 second
        });
    </script>
</head>
<body>
    <h1>Video Display</h1>
    <img id="video-frame" src="{{ url_for('stream') }}" width="320" height="240" />
</body>
</html>
